body{font-family: 'monocraft';src: url(fonts/monocraft.woof) format(woof);}

body{ background-color: rgb(0, 0, 0);}


#total{ width: 100%;
        height: auto;
        margin:auto;
;}

#inicio{ width: 150px;
        height: 150px;
        ;margin: auto;; background-color:
         blueviolet; border-style: solid;  width: 20%;margin:auto}


#painel{ width: 1000px;
        height: 500px;
        margin: auto;
    background-color: palevioletred; border-style:solid; color: #df07df;}




#items{height: 150px;width: 150px;
        background: url("img/ivfx.png") no-repeat center center;
        background-size: contain; ;}

.ivfx{
        background: url("img/ivfx.png"); 
        width: 150px;
        height: 150px;}










.maior{font-size: 50px;}